header {
  position: fixed;
  z-index: 100;
  right: -16px;
  top: 0;
}
.content > hr {
  margin: 1em 0em;
  background-color: #64ec86;
  border: 1px solid #64ec86;
}
.menu-button { 
  width: 5vw;
  height: 5vw;
  margin-bottom: 2em;
  position: fixed;
  right: 0.5em;
  text-align: right;
  z-index: 150;
  font-weight: bolder;
  font-size: max(3vw, 30px);
  display: inline-block;
}
.menu-close {
  text-align: right;
  font-weight: bolder;
  font-size: max(3vw, 30px);
}
#move-box {
  position: fixed;
  right: min(calc(-30vw - 50px), -350px);
  top: 0;
  transition: 0.25s;
  transition-timing-function: easeInOutSine;
  width: 30vw;
  min-width: 300px;
  height: 100vh;
  background: #334;
  padding: 0.5em 1em;
  color: #fff;
  z-index: 200;
}
.content {
  margin-top: 1em;
  overflow-wrap: break-word;
  overflow-y: auto;
  height: 80%;
}
.content > div > div > a {
  text-decoration: none;
  color: #fff;
}
.content > div > div > a:hover {
  text-decoration: underline;
  color: #64ec86;
}
.content > * > a {
  text-decoration: none;
  color: #fff;
}
.content > * > a:hover {
  text-decoration: underline;
  color: #64ec86;
}
.content::-webkit-scrollbar {
  display:none;
}
#check:checked ~ #move-box {
  right: 0px;
  transition: 0.25s;
  transition-timing-function: easeInOutSine;
}
