/* LAST EDIT : 2022-07-17 */

header {
  background: #fffdf2;
  border-bottom: solid 5px #C6C5BC;
  padding: 0.5em;
  position: fixed;
  width: 100%;
  z-index: 100;
  align-items: center;
  height: 4vw;
  min-height: 40px;
}
.always-show {
  display: table-cell;
  vertical-align: middle;
}
@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('MPLUSRounded1c-Regular.ttf');
}
#whole {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  display: flex;
  justify-content: space-between;
}
body>div, div#move-box {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
#main {
  width: 70%;
  margin: 1em 0em 0em 1em;
  display: inline-block;
  overflow: auto;
}
#sidebar {
  text-align: center;
  padding: 1em;
  display: inline-block;
  vertical-align: top;
  line-height: 25px;
  max-width: 275px;
}
#logo {
  margin-top: 0.5vw;
  min-height: 30px;
  height: 3vw;
}
#sidebar > iframe {
  width: 100%;
  height: 2000px;
  border: 0px solid #fff;
}

hr { margin: 3em 0em; }
pre { margin: 0em; }
.dir { background: #595959; color: #64ec86; padding: 4px 8px; display: inline-block; }
.pDat { background: #FF6169; color: #ffffff; padding: 4px 8px; display: inline-block; }
.pRes { background: #31AF37; color: #ffffff; padding: 4px 8px; display: inline-block; }

.datM {
  background: linear-gradient(transparent 75%, #FF6169 25%);
}
.resM {
  background: linear-gradient(transparent 75%, #31AF37 25%);
}
.scrollBox {
  min-width: 300px;
  overflow: auto;
}
.caution {
  margin: 1em 0em;
  padding: 1em;
  color: #c00;
  background: #FFCCCC;
  display: inline-block;
  line-height: 30px;
  width: 80%;
  overflow-wrap: break-word;
}
.caution > img { height: 1.5em; width: 1.5em; vertical-align: sub; }
.announce {
  border: 3px dashed #ff5400;
  background: #fffdf2;
  padding: 0.75em;
  text-align: center;
  font-weight: bolder;
  font-size: small;
  width: fit-content;
}
.question {
  margin: 5px;
  background: #79c9ff;
  border-radius: 1em;
  color: #fff;
  width: 1.6em;
  text-align: center;
  padding-top: 1px;
  font-weight: bolder;
  display: inline-block;
}
.text_icon {
  width: 1em;
  vertical-align: -3px;
  margin-left: 2px;
}
.demoCode, .masecjson {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace, system-ui;
  background-color: #f4f3ec;
  color: #5f5e4e;
  line-height: 23px;
  padding: 0.5em;
  white-space: pre;
  width: 95%;
  overflow: auto;
}
.masecjson, .codediv {
  position: relative;
}
.masecjson button, .codediv button {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
  border-radius: 0.5em;
  border: solid 2px #0000;
  padding: 0.5em;
  margin: 0.25em;
  background-color: darkgrey;
  color: #fff;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  z-index: 100;
}
.masecjson button:active, .codediv button:active { background-color: gray; }
.masecjson button:hover, .codediv button:hover { border: solid 2px #000; }
.copyBoard {
  position: absolute;
  right: 1000em;
}
.demoMark_r {
  border: 1.5px solid #f00;
  margin: 3px 0px;
  padding: 3px;
  display: inline-block;
}
.demoMark_g {
  border: 1.5px solid #0f0;
  margin: 3px 0px;
  padding: 3px;
  display: inline-block;
}
.demoMark_b {
  border: 1.5px solid #00f;
  margin: 3px 0px;
  padding: 3px;
  display: inline-block;
}
.demoMark_o {
  border: 1.5px solid #f80;
  margin: 3px 0px;
  padding: 3px;
  display: inline-block;
}
.demoMark_p {
  border: 1.5px solid #80f;
  margin: 3px 0px;
  padding: 3px;
  display: inline-block;
}
.secsec_mark {
  background: #334;
  margin-right: 0.5em;
  display: inline-block;
  height: 0.75em;
  width: 0.75em;
  transform: translate(0em, 0.33em);
  border-radius: 10em;
}
